.album-view {
  nav {
    font-size: 20px;
    ul {
      width: 100%;
      display: inline;
    }
    li {
      padding: 1.6% 2%;
      &:hover {
        color: $gold;
      }
    }
  }
  .container ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .fa {
    font-size: 48px;
    vertical-align: middle;
  }
  .fa-plus-square {
    font-size: 32px;
  }
}
form {
  text-align: right;
  padding-right: 2%;
  margin-bottom: 2%;
  display: none;
}
.new-photo {
  display: inline-block;
  margin-left: 1%;
}
input {
  width: 200px;
  padding: 4px;
  font-size: 14px;
}
button {
  font-size: 14px;
  padding: 5px;
}
.photo-box {
  @extend .album-box;
  margin-bottom: 5%;
  width: 588px;
  height: 300px;
  .photo-div {
    @extend .album-div;
  }
}

h2, h3 {
  margin: 0;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 16px;
  font-style: italic;
}
